    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --BGCOLOR: #ffffff;
        --SECONDCOLOR: #edf5f5;
        --THIRDCOLOR: #457b9d;
        --TEXTCOLOR: #1d3557;
        /* --BGCOLOR: #FAFAFA;
        --SECONDCOLOR: #C7EEFF;
        --THIRDCOLOR: #0176C3;
        --TEXTCOLOR: #1D242C; */

    }
    .light-theme{
        --BGCOLOR: #ffffff;
            --SECONDCOLOR: #edf5f5;
            --THIRDCOLOR: #457b9d;
            --TEXTCOLOR: #1d3557;
            --HEADERCOLOR: #302f2f;
            --INPUTCOLOR: whitesmoke;
            --PLACEHOLDERCOLOR:#000080;
        /* --BGCOLOR: #ffffff;
        --SECONDCOLOR: #C7EEFF;
        --THIRDCOLOR: #0176C3;
        --TEXTCOLOR: #1D242C; */
    }
    .dark-theme{
        --BGCOLOR: #2b2c2d;
    --SECONDCOLOR: #525656;
        --THIRDCOLOR: #0176C3;
        --TEXTCOLOR: #d7dde4;
        --HEADERCOLOR:whitesmoke;
        --INPUTCOLOR:gray;
        --PLACEHOLDERCOLOR: black;
    }

    body {
        background-color: var(--BGCOLOR);
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        font-family:Arial, Helvetica, sans-serif;
        align-items: center;
        width: 100vw;
        transition: background 0.3s linear;

    }
.navbar h1{
    color: var(--HEADERCOLOR);
}
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-top: 0.3rem;
    }
    .navbar .theme-btn{
        background-color: transparent;
        border: none;
        box-shadow: none;
        font-size: large;
    }

    .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
    label {
        display: block;
        font-size: 1.3rem;
    }

    input {
        height: 2rem;
            border-radius: 10px;
            border: 1px solid black;
            outline: none;
            margin-right: 10px;
            padding-left: 10px;
            background-color: var(--INPUTCOLOR);
            width: 80%;

    }

    ::placeholder {
        color:var(--PLACEHOLDERCOLOR)

    }

    span {
        margin: 10px;
    }


    button {
        padding: 9px;
        border: none;
        border-radius: 5px;
        color: var(--BGCOLOR);
        background-color: var(--TEXTCOLOR);
        margin-left: 10px;
        box-shadow: 0px 0px 2px 1px var(--TEXTCOLOR);
        cursor: pointer;

    }
    .label-input{
        margin: 0rem;
        /* display: inline-block; */
        /* background-color: red; */
        /* color: red; */
    }

    button:hover {
        box-shadow: 0px 0px 2px 1px red;
        opacity: 0.8;
    }

    [containerForAll] {

        background-color: var(--SECONDCOLOR);
      
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        margin-bottom: 0.7rem;
    }

    [inputContainer] {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }

    [outputContainer] {
        margin-block: 0.5rem;
        background-color: green;
      
        width: 100%;
      
    }

    label {
        white-space: nowrap;
    }

.word-def{
    font-weight: 900;
  
}

.example{
    font-style: italic;

}

.definition{
    /* background-color: red; */
    /* padding-left: 0.5rem; */
    /* width: 90%; */
}


.loader{
  
    display: flex;
   
}
.loader img{
    
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    margin-block: 0.7rem;
}
    @media screen and (max-width:500px) {
    [containerForAll] {
    /* background-color: #C7EEFF; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    }
    .navbar h1{
    font-size: 1.2rem
    }
    .word-POS{
    font-size: 0.8rem;
    }

    input {
        height: 2rem;
        border-radius: 10px;
        border: 1px solid black;
        outline:none;
        margin-right: 10px;
        padding-left: 10px;
        background-color: var(--INPUTCOLOR);
        width: 80%;

    }
    }